{% extends "layout/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Восстановление пароля</title>
  {% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Восстановление пароля</h4>
            <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Восстановить мой пароль</button>
            </form>
        </div>
    </div>
    <p align="center">Вернуться назад? <a href="{{ request.META.HTTP_REFERER }}">Назад!</a></p>
{% endblock %}
