{% extends "layout/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Авторизация</title>
  {% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Войдите в аккаунт</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
        </div>
    </div>
    <p align="center">Нет аккаунта? <a href="{% url 'acc:signup' %}">Зарегистрируйтесь!</a></p>
    <p align="center">Забыли пароль? <a href="{% url 'acc:reset_password' %}">Сбросьте пароль!</a></p>
{% endblock %}
