{% extends "layout/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Восстановление пароля</title>
  {% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Введите новый пароль</h4>
            <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block">Восстановить мой пароль</button>
            </form>
        </div>
    </div>
{% endblock %}