{% extends "base/basic.html" %}

{% block title %}Добавление в корзину | Березка{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <ol class="breadcrumb">
            <h4 class="breadcrumb-item">Добавить в корзину</h4>
            <h4 class="breadcrumb-item active" aria-current="page"><a href="{{ request.META.HTTP_REFERER }}">Назад</a></h4>
            </ol>
            <hr>
        </div>
    </div>
    <div class="col-lg-2">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>



{% endblock %}