{% extends "base/basic.html" %}

{% block title %}Корзина | Березка{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <ol class="breadcrumb">
                <h4 class="breadcrumb-item">Ваш заказ:</h4>
            </ol>
            <hr>
        </div>
    </div>
        {% if cart %}
        <form method="post" action="{% url 'app:remove_from_cart' %}">
        {% csrf_token %}
            {% for el in cart %}
            <input type="checkbox" name="variant{{ forloop.parentloop.counter }}" id="variant{{ forloop.counter }}" value="{{ el.pk }}" />
            <label for="variant{{ forloop.counter }}">
                <a href="{% url 'app:change_quantity' el.pk %}" name='post' class="mr-auto p-2 lead">       {{ el.dish.title }}. Цена: {{ el.dish.price }} руб. Количество: {{ el.count_of_dishes }} шт.</a>
            </label>
            <br/>
        <br>
            {% endfor %}
            <input type="submit" class="btn btn-sm btn-outline-secondary" value="Удалить блюдо">
        </form>
        <hr>
        <h5>Общая стоимость заказа составляет: {{ order_price }} руб.</h5>
        <hr>
        <a href="{% url 'app:checkout' %}" name='post' class="btn btn-sm btn-outline-secondary">Оформить заказ</a>
        {% else %}
            <h5>У вас еще нет товара в корзине. Добавьте товар.</h5>
        {% endif %}

</div>
</div>

{% endblock %}