{% extends "base/basic.html" %}

{% block title %}Выбранная категория | Березка{% endblock %}

{% block content %}
  <main class="container mt-3">
    <section class="mt-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Категория "{{ category.name }}"</h2>
      <div class="row mb-0">

      {% for dish in page_obj %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'app:dish' dish.pk dish.url_dish %}"><img src="{{ dish.image_dish.url }}" alt="" class="card-img-top"></a>
              <div class="card-body">
                <h4 class="card-title">{{ dish.title }}</h4>
                <h4 class="card-title">{{ dish.price }},00 руб.</h4>

                <br>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'app:dish' dish.pk dish.url_dish %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                  </div>
                </div>
                <br>
                <a href="{% url 'app:add_to_cart' dish.pk %}" class="btn btn-sm btn-outline-secondary">Добавить в корзину</a>
              </div>
            </div>
          </div>

      {% endfor %}

      </div>
    </section>

  </main>
{% endblock %}

{% block pagination %}
    <nav aria-label="Paginate me">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Следующая</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <br>
{% endblock %}
