{% extends "base/basic.html" %}

{% block title %}Оформление заказа | Березка{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <ol class="breadcrumb">
            <h4 class="breadcrumb-item">Оформление заказа</h4>
            <h4 class="breadcrumb-item active" aria-current="page"><a href="{% url 'app:cart' %}">Назад</a></h4>
            </ol>
            <hr>
        </div>
    </div>
    <div class="col-lg-5">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>

{% endblock %}