{% extends "base/basic.html" %}

{% block title %}{{ dish.title }} | Березка{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <ol class="breadcrumb">
                <h4 class="breadcrumb-item">{{ dish.title|safe }}</h4>
                <h4 class="breadcrumb-item active" aria-current="page"><a href="{% url 'app:category' dish.category.pk dish.category.url_category %}">Назад</a></h4>
            </ol>
            <hr>
            <img class="img-fluid rounded " src="{{ dish.image_dish.url }}" alt="">
            <hr>
            <div class="mr-auto p-2 lead">{{ dish.description_dish|safe }}</div>
            <hr>
            <div class="mr-auto p-2 lead">Цена: {{ dish.price }},00 руб.</div>
            <hr>
        </div>
    </div>
        <a href="{% url 'app:add_to_cart_from_dish' dish.pk dish.url_dish %}" name='post' class="btn btn-sm btn-outline-secondary">Добавить в корзину</a>
    <hr>
</div>
</div>

{% endblock %}