{% extends "base/basic.html" %}

{% block title %}Все категории | Березка{% endblock %}

{% block content %}
{% load static %}
  <main class="container mt-3">

    <section>
      <hr>
      <h2 class="h2 font-weight-normal text-center mb-5">Доставка еды из кафе<br><br><img src="{{ logo.image_category.url }}" width="250" height="200"></h2>

<!--      <div class="row">-->
<!--        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">-->

<!--          <form class="form-inline mb-3" action="{% url 'app:search_results' %}" method="get" enctype="multipart/form-data">-->
<!--          <div class="form-group col-8 col-md-10 pl-0">-->
<!--            <input class="form-control w-100" name="q" type="text" placeholder="Найти блюдо или категорию"  aria-label="Найти блюдо или категорию">-->
<!--          </div>-->
<!--          <div class="form-group col-4 col-md-2 pl-0">-->
<!--            <button class="btn btn-primary w-100" type="submit">Найти</button>-->
<!--          </div>-->
<!--        </form>-->
<!--          <p>Например: -->
<!--            <a href="/search/?q=python" class="text-dark border-bottom border-dark m-1 text-decoration-none">Шашлык</a>-->
<!--            <a href="/search/?q=flask" class="text-dark border-bottom border-dark m-1 text-decoration-none">Flask</a>-->
<!--            <a href="/search/?q=django" class="text-dark border-bottom border-dark m-1 text-decoration-none">Django</a>-->
<!--            <a href="/search/?q=html" class="text-dark border-bottom border-dark m-1 text-decoration-none">HTML</a>-->
<!--            <a href="/search/?q=sql" class="text-dark border-bottom border-dark m-1 text-decoration-none">SQL</a-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
          <hr>
    </section>
      <br>

      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <form class="form-inline mb-3" action="{% url 'app:search_results' %}" method="get" enctype="multipart/form-data">
          <div class="form-group col-8 col-md-10 pl-0">
            <input class="form-control w-100" name="q" type="text" placeholder="Поиск блюда или категории"  aria-label="Поиск блюда или категории">
          </div>
          <div class="form-group col-4 col-md-2 pl-0">
            <button class="btn btn-primary w-100" type="submit">Найти</button>
          </div>
        </form>
        </div>
      </div>

    <section class="mt-2 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Блюда по категориям:</h2>
      <div class="row mb-0">

      {% for category in page_obj %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'app:category' category.pk category.url_category %}"><img src="{{ category.image_category.url }}" alt="" class="card-img-top"></a>
              <div class="card-body">
                <h4 class="card-title">{{ category.title }}</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'app:category' category.pk category.url_category %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--        <div class="col-md-4">-->
<!--          <div class="card pt-4 text-center mb-4">-->
<!--            <a href="#"><img src="{{ category.image_category.url }}" alt="" class="card-img-top"></a>-->
<!--            <div class="card-body">-->
<!--              <p class="card-text mb-2">{{ category.name }}</p>-->
<!--                  <p class="card-text"><a href="#">-&#45;&#45;</a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      {% endfor %}

      </div>
    </section>

  </main>
{% endblock %}

{% block pagination %}
    <nav aria-label="Paginate me">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Следующая</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <br>
{% endblock %}
