{% extends "base/basic.html" %}

{% block title %}Выбор оплаты | Березка{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <ol class="breadcrumb">
                <h4 class="breadcrumb-item">Выберите способ оплаты:</h4>
                <h4 class="breadcrumb-item active" aria-current="page"><a href="{% url 'app:cart' %}">Назад</a></h4>
            </ol>
            <hr>
        </div>
    </div>
        <a href="#" name='post' class="btn btn-sm btn-outline-secondary">Оплата через терминал</a>
    <hr>
        <a href="#" name='post' class="btn btn-sm btn-outline-secondary">Оплата наличными</a>
    <hr>
        <a href="#" name='post' class="btn btn-sm btn-outline-secondary">Оплата банковским переводом</a>
    <hr>
</div>
</div>

{% endblock %}